{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">

        <div class="deco row">
            <div class="img">
                <img src="{{ asset('/images/logo/wild_circus_logo.png') }}" alt="wild circus">
            </div>
            <div id="spectacle"></div>
        </div>

        </div>

    </div>
{% endblock %}