a.login {
  text-decoration: none;
  position: absolute;
  margin-left: 92%;
  margin-top: -37px;
  color: #272932;
}

a.logout {
  text-decoration: none;
  position: absolute;
  margin-left: 80%;
  margin-top: -37px;
  color: #272932;
}

a.lien {
  text-decoration: none;
  color: #272932;
}

body {
  background-color: white;

  nav.navbar {
    background-color: #6CBEED;

    #navbarNavAltMarkup {
      margin-top: 5%;
      margin-left: 5%;
    }

    a.nav-item {
      color: #272932;
      text-decoration: none;
      margin-right: 20%;
    }

    a:hover {
      color: #BD9391;
    }

    img.logo {
      margin-bottom: -13px;
    }
  }

  h1 {
    color: #272932;
    margin-top: 30px;
    justify-items: auto;
  }
}

@media (min-width: 450px) {
  a.login:hover {
    justify-content: center;
    color: #BD9391;
    width: 102px;
    height: 100px;
    background-color: #FFFFFF;
  }
}