body {
  background-color: white;

  nav.navbar {
    background-color: #6CBEED;

    a {
      color: #272932;
      margin-left: 10%;
      text-decoration: none;

      .nav-item:hover{
        color: #BD9391;
      }
    }
  }

  h1{
    color: #272932;
  }
}