.form-identity {
  width: 99%;
  margin-left: 3px;
  margin-top: 10%;
}

.carte {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img-logo-contact {
  margin: auto;
  color: #272932;
}

.send-color {
  background-color: #272932;
  color: #FFFFFF;
}